
.box { width: 100px;
height: 100px;
background-color: rgb(13, 0, 255);
position: relative;
animation-name: moveBox; 
animation-duration: 2s;
animation-iteration-count: infinite;
animation-direction: alternate;
transition: width 0.5 ease-out

}

.box:hover { width: 200px; height: 200px;


}

@keyframes moveBox {
0% {left: 0;}
100% {left: 200px;}

}

h1 { font-size: 20vw;
}

